<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>vue 4demo</title>
        <script src="js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <my-header :message="message"></my-header>
        </div>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    list: ['第一項', '第二項', '第三項'],
                    message: 'hello App'
                },
                components: {
                    'my-header': {
                        template: `
                            <div>
                                <h2 ref="myTitle">{{message}}</h2>
                                <ul>
                                    <li v-for="item in list">{{item}}</li>
                                </ul>
                                <my-nav @changeEvents= "getChildContent" :list="list"></my-nav>
                            </div>`,
                        // props: ['list'],
                        props: {
                            list: {
                                type: Array,
                                default: function() {
                                    return [
                                        '第一項111',
                                        '第二項222',
                                        '第三項333'
                                    ];
                                }
                            },
                            message: {
                                type: String,
                                default: 'hello myHeader'
                            }
                        },
                        data: function() {
                            return {
                                nowMessage: this.message
                            };
                        },
                        methods: {
                            getChildContent: function(e) {
                                console.log(e);
                                // this.nowMessage = e;  //數據操作
                                this.$refs.myTitle.innerHTML = e; //DOM 操作
                            }
                        },
                        components: {
                            'my-nav': {
                                template: `
                                    <ul>
                                        <li @click='getContent' v-for="item in list">{{item}}</li>
                                    </ul>`,
                                props: ['list'],
                                methods: {
                                    getContent: function(ev) {
                                        // console.log(this);
                                        // console.log(ev.target.innerHTML);
                                        this.$emit(
                                            'changeEvents',
                                            ev.target.innerHTML
                                        );
                                    }
                                }
                            }
                        }
                    }
                }
            });
        </script>
    </body>
</html>
