<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>vue 9demo</title>
        <link rel="stylesheet" href="css/all.css" />
        <script src="js/vue.js"></script>
        <script src="js/vuex.js"></script>
    </head>
    <body>
        <div id="app">
            <my-header custom-title="通訊錄" custom-fixed>
                <button @touchstart="backBtn" slot="left">返回</button>
                <button @touchstart="homeBtn" slot="right">主頁</button>
            </my-header>
            <my-list :user-data="userData"></my-list>
        </div>
        <script>
            var userData = [
                {
                    index: 'A',
                    users: [
                        { name: 'a1', tel: '0912111111' },
                        { name: 'a2', tel: '0912111112' },
                        { name: 'a3', tel: '0912111113' },
                        { name: 'a4', tel: '0912111114' },
                        { name: 'a5', tel: '0912111115' },
                        { name: 'a6', tel: '0912111116' }
                    ]
                },
                {
                    index: 'B',
                    users: [
                        { name: 'b1', tel: '0912111114' },
                        { name: 'b2', tel: '0912111115' },
                        { name: 'b3', tel: '0912111116' },
                        { name: 'b4', tel: '0912111117' },
                        { name: 'b5', tel: '0912111118' },
                        { name: 'b6', tel: '0912111119' }
                    ]
                },
                {
                    index: 'C',
                    users: [
                        { name: 'c1', tel: '0912111117' },
                        { name: 'c2', tel: '0912111118' },
                        { name: 'c3', tel: '0912111119' },
                        { name: 'c4', tel: '0912111117' },
                        { name: 'c5', tel: '0912111118' },
                        { name: 'c6', tel: '0912111119' }
                    ]
                },
                {
                    index: 'D',
                    users: [
                        { name: 'd1', tel: '0912111121' },
                        { name: 'd2', tel: '0912111122' },
                        { name: 'd3', tel: '0912111123' },
                        { name: 'd4', tel: '0912111121' },
                        { name: 'd5', tel: '0912111122' },
                        { name: 'd6', tel: '0912111123' }
                    ]
                },
                {
                    index: 'E',
                    users: [
                        { name: 'e1', tel: '0912111124' },
                        { name: 'e2', tel: '0912111125' },
                        { name: 'e3', tel: '0912111126' },
                        { name: 'e4', tel: '0912111124' },
                        { name: 'e5', tel: '0912111125' },
                        { name: 'e6', tel: '0912111126' }
                    ]
                },
                {
                    index: 'F',
                    users: [
                        { name: 'f1', tel: '0912111127' },
                        { name: 'f2', tel: '0912111128' },
                        { name: 'f3', tel: '0912111129' },
                        { name: 'f4', tel: '0912111127' },
                        { name: 'f5', tel: '0912111128' },
                        { name: 'f6', tel: '0912111129' }
                    ]
                }
            ];

            Vue.component('my-header', {
                template: `<div id="header" :style="{'position' : customFixed ? 'fixed' : 'absolute'}">
                                <slot name="left"></slot>
                                {{customTitle}}
                                <slot name="right"></slot>
                            </div>`,
                props: {
                    customTitle: {
                        type: String,
                        default: '標題'
                    },
                    customFixed: {
                        type: Boolean,
                        default: false
                    }
                }
            });

            Vue.component('my-list', {
                template: `<div id="list">
                                <ul class="list_user" ref="listUser">
                                    <li v-for="item in userData">
                                        <p>{{item.index}}</p>
                                        <ul v-for="user in item.users">
                                            <li>{{user.name}}</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="list_index" ref="listIndex">
                                    <li @touchstart="setScroll" v-for="item in userIndex">{{item}}</li>
                                </ul>
                            </div>`,
                props: {
                    'user-data': {
                        type: Array,
                        default: function() {
                            return [];
                        }
                    }
                },
                computed: {
                    userIndex: function() {
                        return this.filterIndex(this.userData);
                    }
                },
                methods: {
                    filterIndex: function(data) {
                        var result = [];
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].index) {
                                result.push(data[i].index);
                            }
                        }
                        return result;
                    },
                    setListIndexPos: function() {
                        var iH = this.$refs.listIndex.offsetHeight;
                        this.$refs.listIndex.style.marginTop = -iH / 2 + 'px';
                    },
                    setScroll: function(ev) {
                        var aP = this.$refs.listUser.getElementsByTagName('p');
                        for (var i = 0; i < aP.length; i++) {
                            console.log(document.body.scrollTop);
                            if (aP[i].innerHTML == ev.target.innerHTML) {
                                document.documentElement.scrollTop =
                                    aP[i].offsetTop;
                            }
                        }
                    }
                },
                mounted: function() {
                    this.setListIndexPos();
                }
            });
            var vm = new Vue({
                el: '#app',
                data: {
                    userData: userData
                },
                methods: {
                    backBtn: function() {
                        alert(123);
                    },
                    homeBtn: function() {
                        alert(456);
                    }
                }
            });
        </script>
    </body>
</html>
